
.bandeau {
    background-color: lightblue;
    border: 3px solid lightgrey;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.erreurs {
    background-color: crimson;
    text-align: center;
    padding: 5px;
    margin: auto;
    color: white;
    width: 50%;
}